img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p,
a,
ul,
li,
span {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4, .text-xxl {
  font-size: 22px;
}

h5, .text-xl {
  font-size: 20px;
}

h6, .text-lg {
  font-size: 16px;
}

p {
  font-size: 14px;
}

label {
  cursor: pointer;
}

.text-primary {
  color: #014186;
}

.text-primary-dark {
  color: #073668;
}

.text-secondary {
  color: #FBB03B;
}

.text-dark {
  color: #111111;
}

.text-dark-lite {
  color: #333333;
}

.text-light {
  color: #ffffff;
}

.text-grey {
  color: #5A7090;
}

.text-grey-lite {
  color: #EEEEEE;
}

.text-green {
  color: #3D7D14;
}

.bg-primary {
  background-color: #014186 !important;
}

.bg-primary-dark {
  background-color: #073668;
}

.bg-primary-lite {
  background-color: #f2f9ff;
}

.bg-secondary {
  background-color: #FBB03B;
}

.bg-dark {
  background-color: #111111;
}

.bg-dark-lite {
  background-color: #333333;
}

.bg-lite {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #5A7090;
}

.bg-grey-lite {
  background-color: #EEEEEE;
}

.text-primary {
  color: #014186;
}

.text-primary-dark {
  color: #073668;
}

.text-secondary {
  color: #FBB03B;
}

.text-dark {
  color: #111111;
}

.text-dark-lite {
  color: #333333;
}

.text-light {
  color: #ffffff;
}

.text-grey {
  color: #5A7090;
}

.text-grey-lite {
  color: #EEEEEE;
}

.text-green {
  color: #3D7D14;
}

.bg-primary {
  background-color: #014186;
}

.bg-primary-dark {
  background-color: #073668;
}

.bg-primary-light {
  background-color: #f2f9ff;
}

.bg-secondary {
  background-color: #FBB03B;
}

.bg-dark {
  background-color: #111111;
}

.bg-dark-lite {
  background-color: #333333;
}

.bg-light {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #5A7090;
}

.bg-grey-lite {
  background-color: #EEEEEE;
}

> Stashed changes .btn {
  width: 200px;
  height: 60px;
  font-weight: bold;
  border-radius: 0;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: #014186;
  color: #ffffff;
}

.btn-secondary {
  background: #FBB03B;
  color: #111111;
}

.btn-sm {
  height: 50px;
}

.h-100x {
  height: 100vh !important;
}

@media screen and (max-width: 648px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .btn-sm {
    height: 40px;
  }
}
html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

#wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  background-color: #014186;
}
header .container {
  height: 100%;
}

#eventCover {
  position: relative;
}

#eventconverr {
  width: 100%;
  height: 350px;
}

#evntclublogo {
  width: 180px;
  height: 180px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#evntclublogo img {
  max-width: 140px;
}

#btnmsgplay a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  background: #014186;
  padding: 10px 30px 10px 10px;
  border-radius: 30px 0 0 30px;
  font-weight: bold;
  font-size: 20px;
}
#btnmsgplay a i {
  font-size: 38px;
  vertical-align: middle;
}

.evt-donationbox {
  position: relative;
}
.evt-donationbox .donation-clublogo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 40px;
}
.evt-donationbox .donation-clublogo img {
  max-width: 150px;
}

.donation_radio {
  display: none;
}
.donation_radio + label {
  width: 19%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #111;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.donation_radio:checked + label {
  background: #014186;
  color: #ffffff;
}

.act-portaitbox {
  min-width: 250px;
  max-width: 260px;
  margin-top: 15px;
}

.act-portrait {
  height: 340px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.act-overlay {
  background: #020024;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.2) 0%, rgba(0, 0, 0, 0.2) 41%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.act-overlay-wide {
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.act-overlay-wide h2 {
  text-shadow: 10px 10px black;
}

.act-ribbon {
  background-image: url("../images/act-ribbon.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 30px !important;
  width: 45px;
  color: #fff;
  margin-right: 10px;
}

.input-group.don {
  height: 60px;
}
.input-group.don .input-group-text {
  width: 50px;
  text-align: center;
  font-size: 18px;
  justify-content: center;
}

.evt-donationbox {
  max-height: 350px;
  overflow: hidden;
}

.act-portrait-wd > div {
  height: 100%;
}

.act-portrait-wd > div > img {
  width: 100%;
}

.act-portrait-wd {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.countdown {
  border: 1px dashed #5A7090;
}

.col.coln {
  max-width: 20px;
}

.logo_sm {
  width: 130px;
}

.act_wrap {
  height: 100px;
}

.lin_unsty {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 60px;
  font-weight: bold;
  border-radius: 0;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.act-cover img {
  width: 100%;
  max-height: 420px;
}

.embed-responsive-item {
  min-height: 350px !important;
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14x;
}

.dropdown-toggle::after {
  display: none;
}

.elem-tkt-qty button, .elem-tkt-qty input {
  width: 40px !important;
  height: 40px !important;
  text-align: center;
}
.elem-tkt-qty button:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (min-width: 1600px) {
  .dropdown-menu {
    transform: translate(1446px, 64px);
  }
}

/*# sourceMappingURL=style.css.map */
